<section>
	<div class="themes-background">
		<nav class="themes">
			<h2>Themes</h2>

			<ul>
				<li><a href=""><div id="project1">
				</div>
					<h5>ucc berkley</h5>
					<em>here is what I know.</em>
				</a></li>

				<li><a href=""><div id="project1">
				</div>
					<h5>ucc berkley</h5>
					<em>here is what I know.</em>
				</a></li>

				<li><a href=""><div id="project1">
				</div>
					<h5>ucc berkley</h5>
					<em>here is what I know.</em>
				</a></li>

				<li><a href=""><div id="project1">
				</div>
					<h5>ucc berkley</h5>
					<em>here is what I know.</em>
				</a></li>

				<li><a href=""><div id="project1">
				</div>
					<h5>ucc berkley</h5>
					<em>here is what I know.</em>
				</a></li>

				<li><a href=""><div id="project1">
				</div>
					<h5>ucc berkley</h5>
					<em>here is what I know.</em>
				</a></li>

				<li><a href=""><div id="project1">
				</div>
					<h5>ucc berkley</h5>
					<em>here is what I know.</em>
				</a></li>

				<li><a href=""><div id="project1">
				</div>
					<h5>ucc berkley</h5>
					<em>here is what I know.</em>
				</a></li>

				<li><a href=""><div id="project1">
				</div>
					<h5>ucc berkley</h5>
					<em>here is what I know.</em>
				</a></li>

				<li><a href=""><div id="project1">
				</div>
					<h5>ucc berkley</h5>
					<em>here is what I know.</em>
				</a></li>

			</ul>
		</nav>
	</div>
</section>

<section>
	<div id="sponsor">
		<div class="container">
			<div class="listing-sponsors">
				<ul>
					<li><a href="" id="disney"></a></li>
					<li><a href="" id="evernote"></a></li>
					<li><a href="" id="google"></a></li>
					<li><a href="" id="ie"></a></li>
					<li><a href="" id="microsoft"></a></li>
					<li><a href="" id="msr"></a></li>
					<li><a href="" id="pulse"></a></li>

				</ul>
			</div>
		</div>
	</div>
</section>

<style type="text/css">
	
.themes-background {
	width: 100%;
	background: #1A1A1A;
	overflow: hidden;
}

.themes {
	font-weight: 500;
	padding-top: 0.5em;
	padding-bottom: 1.5em;
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
}

.themes ul {
	list-style: none;
	margin: 0;
	padding: 0;

}

.themes ul li {
	width: 19%;
	display: inline-block;
	margin: 3px;
}

#sponsor {
	width: 100%;
	background-color: #5E5E5E;
	display: inline-block;
	padding: 100px;
	list-style: none;
}

.listing-sponsors ul li {
	width: 20%;
	display: inline-block;
	text-decoration: none;
	list-style: none;
}
</style>