// Place all the styles related to the spa controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@import "bootstrap";
@import "bootstrap-sprockets";
@import "font-awesome";


#header {
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(abstract2.png);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 500px;
}

#project1 {
	background: url(abstract1.png);
	background-size: cover;
	background-position: center;
	width: 100%;
	padding-bottom: 150%;
}

#disney {
	background: url(disney.png);
	background-size: cover;
	width: 100%;
	padding: 30px;
}
#evernote {
	background: url(evernote.png);
	background-position: center;
	width: 100%;
}
#google {
	background: url(google.png);
	background-position: center;
	width: 100%;
}
#ie {
	background: url(ie.png);
	background-position: center;
	width: 100%;
}
#microsoft {
	background: url(microsoft.png);
	background-position: center;
	width: 100%;
}
#msr {
	background: url(msr.png);
	background-position: center;
	width: 100%;
}
#pulse {
	background: url(pulse.png);
	background-position: center;
	width: 100%;
}