<section id="border">
	<div id="header">
<!-- 	<div id="menu-stub"></div> -->
	<div id="menu">
		<ul>
			<a href="">Life</a>
			<a href="">Think</a>
			<a href="">Opportunity</a>
			<a href="">Business</a>
		</ul>
	</div>
		<div class='container'>
			<div class="row">
				<div class="col-md-4">
					<div class="semi">
						<h3>'LET THERE BE;</h3>
					</div>
					<div id="white-space">
						<h4>Contrast</h4>
					</div>
				</div>
				<div class="col-md-8 header-3">
					<div class='semi-two'>
						<h3>TRY EVERY SINGLE DAY AND BE YOURSELF.</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<style type="text/css">

/*	#menu-stub {
		width: 400px;
		height: 200px;
		background-image: linear-gradient(45deg, rgba(0,0,0,0) 2%,rgba(0,0,0,0) 26%,rgba(0,0,0,0) 40%,rgba(0,0,0,0.34) 71%,rgba(0,0,0,0.56) 92%,rgba(0,0,0,0.63) 98%,rgba(0,0,0,0.65) 100%,rgba(0,0,0,0.65) 101%,rgba(0,0,0,0.65) 102%);
		position: absolute;
		top: 0;
		right: 0;
}*/
	#border {
		border-style: solid;
		border-size: 20px;
		border-color: black;
	}

	#menu {
		position: absolute;
		top: 3em;
		right: 2em;
		color: white;
	}
	
	#menu ul a {
		padding: 10px;
		font-size: 20px;
		color: white;
		text-decoration: none;
		border-style: solid;
		text-shadow: 0 2px 6px #111;
		box-shadow: 0 2px 6px #111;

	}

	#white-space {
		width: 220px;
		height: 55px;
		background-color: white;
		position: absolute;
		top: 200px;
		right: 20px;
	}

	#white-space h4 {
		width: 100%;
		text-align: center;
		font-size: 38px;
		text-transform: uppercase;
	}

	.semi h3{
		font-size: 50px;
		width: 100%;
		padding: 4px;
		color: white;
		text-shadow: 0 5px 2px #111;
	}

	.header-3 {
		top: 325px;
	}

	.semi-two h3 {
		font-size: 50px;
		color: white;
		text-shadow: 0 5px 2px #111;
	}

</style>